################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kicad/**/*-backups
/Kicad/**/*-cache
/Kicad/**/*-lib-table
